#login

/*Mobile Fist starting at 320 */
 
body
{
	display: block;
  background-image: url('../img/iitbackground.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

#formContent
{
  background-color: white;
  background: rgb(204, 204, 204);
  background: rgba(204, 204, 204, 0.8);
  border-radius: 25px;
  display: block;
  position: relative;
  top: 20%;
  height: 40%;
  width: 70%;
  margin: 0 auto;
}

form
{
  display: block;
  margin-top: 0;
}

fieldset
{ 
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding: 0.35em 0.75em 0.625em 0.75em;
}

legend
{
	width: 100%;
	text-align: center;
  padding: 10px;
  font-size: 20px;
}

p
{
  width: 95%;
  padding-bottom: 20px;
}

input
{
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
	width: 175px;
	height: 50px;
}

input[type=text] 
{
  background-color: white;
  background-image: url('../img/person.png');
  background-size: 35px;
  background-position: 5px 5px; 
  background-repeat: no-repeat;
  padding: 10px 20px 10px 40px;
}

input[type=password] 
{
  background-color: white;
  background-image: url('../img/lock.png');
  background-size: 25px;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

input[type=submit], input[type=reset] 
{
  background-color: #4CAF50;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  width: 75px;
	height: 25px;
	margin-top: -1px;
	padding: 3px;
}

p
{
	margin-top: -7px;
	font-size: 12px;
	text-align: center;
}

 @media only screen and (min-width: 350px) 
 { 
	 #formContent
	{
		height: 240px;
		width: 225px;
}
	 
	 legend
	{
		font-size: 22px;
	}
	
	input
	{
		font-size: 16px;
		width: 200px;
		height: 45px;
	}
	
	input[type=submit], input[type=reset] 
	{
  
  width: 70px;
	}
	
	p
	{
		margin-top: -3px;
		font-size: 12px;
		text-align: center;
	}
 }

 @media only screen and (min-width: 481px) 
{
	#formContent
	{
		top: 30%;
		height: 25%;
		width: 35%;
	}

	input
	{
		font-size: 16px;
		width: 195px;
	}
}
 

@media only screen and (min-width: 961px) 
{
  #formContent
  {
    height: 250px;
    width: 250px;
  }
}

#Academics
{
  display:none;
	overflow: hidden;
  margin: 0 auto;
}


span
{
  margin: 0px;
  display: inline-block;
}

span a
{
  margin: 0px;
  display: block;
}

#iitBanner span
{
  float: left;
  width: 70px;
}

#menu
{
  position: relative;
  top: -5px;
  margin: 0px;
  font-size: 50px;
  cursor: pointer;
}

#account
{
	margin-left: 50px;
}

#userInfo
{
  display: inline-block;
  padding-left: 10px;
  border-left: 2px solid #bbb;
}

#sideNav 
{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

#sideNav p 
{
  padding: 8px 8px 8px 10px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#sideNav p:hover
{
  color: #f1f1f1;
  cursor:pointer;
}

/* Position and style the close button (top right corner) */
#sideNav .closebtn 
{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 26px;
  margin-left: 75px;
}

#main 
{
  transition: margin-left .5s;
  padding: 16px;
}

#content
{
	margin-left: 50px;
	width: 100%;
  margin-top: 50px;
}

#profile
{
  position: relative;
  margin-top: -10px;
  margin-right: 150px;
  width: 25%;
  float: left;
}

#Welcome
{
	text-align: center;
	position: fixed;
	width: 100%;
}

#regrsitration
{
  float: left;
  position: relative;
  border: solid;
  border-width: 1px;
	width: 25%;
  margin-right: 75px;
}

#banner
{
  float: left;
  position: relative;
  margin-top: -10px;
  width: 25%;
}
  

#regrsitration p
{
  padding: 5px;
}
	
#regrsitration h1
{
  background-color: #ccc;
  border-top: 1px solid #999;
  border-right: 1px solid #999;
  border-left: 1px solid #999;
  font-weight: bold;
  color: black;
  margin: 0;
  margin-bottom: 10px;
}

@media only screen and (min-width: 350px) 
{ 
	#content
	{
		margin-left: 15px;
		overflow: hidden;
	}
	
	#Welcome
	{
		margin-left: -35px;
		font-size: 15px;
		text-align: center;
		position: fixed;
		width: 100%;
	}
	
	#content img
	{
		width: 325px;
		
	}
	
	#profile
	{
		float: left;
	}
	
	#regrsitration
	{
		float: left;
		width: 325px;
	}
	
	#banner
	{
		float: left;
		width: 350px;
	}
	
	#iitBanner span
	{
		width: 35px;
	}
	
	#menu
	{
		top: 5px;
		margin-left: -10px;
		font-size: 30px;
	}
	
	#account
	{
		width: 100%;
		position: relative;
		margin-left: 30px;
		font-size: 12px;
	}
	
	#userInfo
	{
		font-size: 12px;
	}
}

 @media only screen and (min-width: 481px) 
 {
		#iitBannerBG img
		{
			max-width: 2000px;
			height: auto;
		}
		
		#sideNav p 
		{
			font-size: 25px;
			transition: 0.3s;
		}
		
		/* Position and style the close button (top right corner) */
		#sideNav .closebtn 
		{
			position: absolute;
			top: 0;
			right: 25px;
			font-size: 36px;
			margin-left: 50px;
		}
 }
 
  @media only screen and (min-width: 641px) 
 {
	 #iitBanner span
		{
			width: 50px;
		}
		
		#menu
		{
			top: 5px;
			margin-left: -10px;
			font-size: 50px;
		}
		
		#account
		{
			margin-left: 40px;
			font-size: 16px;
		}
	
		#userInfo
		{
			font-size: 16px;
		}
		#sideNav p 
		{
			padding: 8px 8px 8px 32px;
			text-decoration: none;
			font-size: 25px;
			color: #818181;
			display: block;
			transition: 0.3s;
		}
 }
