#Academics
{
  display:none;
	overflow: hidden;
  margin: 0 auto;
}


span
{
  margin: 0px;
  display: inline-block;
}

span a
{
  margin: 0px;
  display: block;
}

#iitBanner span
{
  float: left;
  width: 70px;
}

#menu
{
  position: relative;
  top: -5px;
  margin: 0px;
  font-size: 50px;
  cursor: pointer;
}

#account
{
	margin-left: 50px;
}

#userInfo
{
  display: inline-block;
  padding-left: 10px;
  border-left: 2px solid #bbb;
}

#sideNav 
{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

#sideNav p 
{
  padding: 8px 8px 8px 10px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

#sideNav p:hover
{
  color: #f1f1f1;
  cursor:pointer;
}

/* Position and style the close button (top right corner) */
#sideNav .closebtn 
{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 26px;
  margin-left: 75px;
}

#main 
{
  transition: margin-left .5s;
  padding: 16px;
}

#content
{
	margin-left: 50px;
	width: 100%;
  margin-top: 50px;
}

#profile
{
  position: relative;
  margin-top: -10px;
  margin-right: 150px;
  width: 25%;
  float: left;
}

#Welcome
{
	text-align: center;
	position: fixed;
	width: 100%;
}

#regrsitration
{
  float: left;
  position: relative;
  border: solid;
  border-width: 1px;
	width: 25%;
  margin-right: 75px;
}

#banner
{
  float: left;
  position: relative;
  margin-top: -10px;
  width: 25%;
}
  

#regrsitration p
{
  padding: 5px;
}
	
#regrsitration h1
{
  background-color: #ccc;
  border-top: 1px solid #999;
  border-right: 1px solid #999;
  border-left: 1px solid #999;
  font-weight: bold;
  color: black;
  margin: 0;
  margin-bottom: 10px;
}

@media only screen and (min-width: 350px) 
{ 
	#content
	{
		margin-left: 15px;
		overflow: hidden;
	}
	
	#Welcome
	{
		margin-left: -35px;
		font-size: 15px;
		text-align: center;
		position: fixed;
		width: 100%;
	}
	
	#content img
	{
		width: 325px;
		
	}
	
	#profile
	{
		float: left;
	}
	
	#regrsitration
	{
		float: left;
		width: 325px;
	}
	
	#banner:
	{
		float: left;
		width: 350px;
	}
	
	#iitBanner span
	{
		width: 35px;
	}
	
	#menu
	{
		top: 5px;
		margin-left: -10px;
		font-size: 30px;
	}
	
	#account
	{
		width: 100%;
		position: relative;
		margin-left: 30px;
		font-size: 12px;
	}
	
	#userInfo
	{
		font-size: 12px;
	}
}

 @media only screen and (min-width: 481px) 
 {
		#iitBannerBG img
		{
			max-width: 2000px;
			height: auto;
		}
		
		#sideNav p 
		{
			font-size: 25px;
			transition: 0.3s;
		}
		
		/* Position and style the close button (top right corner) */
		#sideNav .closebtn 
		{
			position: absolute;
			top: 0;
			right: 25px;
			font-size: 36px;
			margin-left: 50px;
		}
 }
 
  @media only screen and (min-width: 641px) 
 {
	 #iitBanner span
		{
			width: 50px;
		}
		
		#menu
		{
			top: 5px;
			margin-left: -10px;
			font-size: 50px;
		}
		
		#account
		{
			margin-left: 40px;
			font-size: 16px;
		}
	
		#userInfo
		{
			font-size: 16px;
		}
		#sideNav p 
		{
			padding: 8px 8px 8px 32px;
			text-decoration: none;
			font-size: 25px;
			color: #818181;
			display: block;
			transition: 0.3s;
		}
 }
