/*Mobile Fist starting at 320 */
 
body
{
	display: block;
  background-image: url('../img/iitbackground.jpg');
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

#formContent
{
  background-color: white;
  background: rgb(204, 204, 204);
  background: rgba(204, 204, 204, 0.8);
  border-radius: 25px;
  display: block;
  position: relative;
  top: 20%;
  height: 40%;
  width: 70%;
  margin: 0 auto;
}

form
{
  display: block;
  margin-top: 0;
}

fieldset
{ 
  display: block;
  margin-left: 2px;
  margin-right: 2px;
  padding: 0.35em 0.75em 0.625em 0.75em;
}

legend
{
	width: 100%;
	text-align: center;
  padding: 10px;
  font-size: 20px;
}

p
{
  width: 95%;
  padding-bottom: 20px;
}

input
{
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
	width: 175px;
	height: 50px;
}

input[type=text] 
{
  background-color: white;
  background-image: url('../img/person.png');
  background-size: 35px;
  background-position: 5px 5px; 
  background-repeat: no-repeat;
  padding: 10px 20px 10px 40px;
}

input[type=password] 
{
  background-color: white;
  background-image: url('../img/lock.png');
  background-size: 25px;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

input[type=submit], input[type=reset] 
{
  background-color: #4CAF50;
  border: none;
  color: white;
  text-decoration: none;
  cursor: pointer;
  width: 75px;
	height: 25px;
	margin-top: -1px;
	padding: 3px;
}

p
{
	margin-top: -7px;
	font-size: 12px;
	text-align: center;
}

 @media only screen and (min-width: 350px) 
 { 
	 #formContent
	{
		height: 240px;
		width: 225px;
}
	 
	 legend
	{
		font-size: 22px;
	}
	
	input
	{
		font-size: 16px;
		width: 200px;
		height: 45px;
	}
	
	input[type=submit], input[type=reset] 
	{
  
  width: 70px;
	}
	
	p
	{
		margin-top: -3px;
		font-size: 12px;
		text-align: center;
	}
 }

 @media only screen and (min-width: 481px) 
{
	#formContent
	{
		top: 30%;
		height: 25%;
		width: 35%;
	}

	input
	{
		font-size: 16px;
		width: 195px;
	}
}
 

@media only screen and (min-width: 961px) 
{
  #formContent
  {
    height: 250px;
    width: 250px;
  }
}